<div class="card-category">
  <h1 class="text-center">Browse our Cocktails</h1>
</div>

<div class="d-flex flex-wrap justify-content-between">
  <% @cocktails.each do |cocktail| %>
    <div class="col-6 col-md-4 p-0">
      <%= render 'shared/card', cocktail: cocktail %>
    </div>
  <% end %>
</div>

