<div class="card-category">
  <h1 class="text-center">Browse our Cocktails</h1>
</div>

<div class="d-flex flex-wrap justify-content-between">
  <% @cocktails.each do |cocktail| %>
    <%= render 'shared/card', cocktail: cocktail %>
  <% end %>
</div>

