.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: white;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

h3 {
  font-family: 'Shadows Into Light', cursive;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
}

h4 {
  font-family: 'Shadows Into Light', cursive;
}
